{% extends 'store/base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to Euphoria Ecommerce website
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        </br>
        <p align="justify">
          Welcome to Euphoria, your ultimate destination for exclusive
          merchandise, digital content, and fan experiences. Inspired by a
          passion for connecting fans to the artists they love, Euphoria
          provides a seamless way to explore and purchase official goods and
          multimedia content from your favorite creators and groups. Whether
          you’re looking for limited-edition collectibles, exclusive video
          content, or the latest releases, Euphoria brings you closer to the
          artists that inspire you. Our platform is designed to enhance your fan
          experience with easy access to all things you love—making every moment
          you spend with us truly euphoric. Join us, and be part of a community
          that celebrates creativity, passion, and unforgettable connections. At
          Euphoria, it's more than just shopping—it's an experience.
        </p>
        <br />
      </div>
    </center>
  </div>
</div>
{% endblock content %}
